<form  class="form-horizontal col-md-6"
  style="font-family: Segoe UI; margin-top: 30px;">
  <div class="row">
    <div class="col-md-5">
      <label for="denonation">Denotation of Stamp Duty</label><br>
      <input type="number" class="form-control" style="background-color: white;" id="denonation"
        formControlName="denonation" placeholder="Value">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <label for="pages" class="pages">Number of Pages</label><br>
      <input type="number" class="form-control" style="background-color: white;" id="pages" formControlName="pages">
      
    </div>
  </div>
  <br>
  <br>
</form>